vendor/
node_modules/
bootstrap/cache/
public/build/*

.env
.idea/*
**/artisan
readme.md

public/css/*
public/css/app.css
public/css/app.css.map
public/images/catering/*

public/js/all.js
public/js/all.js.map

!/vendor/adamwathan/bootforms/src/AdamWathan/BootForms/Elements/CheckGroup.php
!/vendor/adamwathan/form/src/AdamWathan/Form/Elements/Label.php

.idea/
public/images/facebook/
/.env
