.text-success {
  color: $brand-success;
}
.text-danger {
  color: $brand-danger;
}

i {
  &.switch {
    cursor: hand;
  }
}

form {
  .form-group {
    &.has-error {
      p:first-of-type.help-block {
        color: $brand-danger;
      }
    }
  }
}

.panel {
  .panel-heading {
    font-weight: 700;
  }
}

h6 {
  line-height: 10px;
}

.progress {
  height: 38px;

  .progress-bar {

  }
}

dl {
  margin-top: 10px;

  dt {
    color: #fff;
  }
  dd {
    margin-left: 22px;
    margin-bottom: 20px;
  }
}
