.text-success {
  color: $brand-success;
}
.text-danger {
  color: $brand-danger;
}

i {
  &.switch {
    cursor: hand;
  }
}

form {
  .form-group {
    &.has-error {
      p:first-of-type.help-block {
        color: $brand-danger;
      }
    }
  }
}

.panel {
  .panel-heading {
    font-weight: 700;
  }
}
